body {
  height: 100vh;
  margin: 0;
  background-color: black;
}

#info {
  z-index: 2000;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #0000ffaa;
  padding: 16px;
}

#chart-area {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.label {
  background-color: transparent;
  color: white;
}

.label#index {
  background-color: #0000ffaa;
}

.label#one {
  background-color: #ff0000aa;
}

.label#two{
  background-color: #00ff00aa;
}
